@media (max-width: 480px) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
}
@media only screen and (max-width: xxspx) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .masonry {
    margin: 2.25% 0;
  }
  .masonry .item {
    width: 31.83333%;
    margin-bottom: 2.25%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 31.83333%;
  }
  .masonry .gutter-sizer {
    width: 2.25%;
  }
}
@media (min-width: 768px) {
  .masonry {
    margin: 2% 0;
  }
  .masonry .item {
    width: 23.5%;
    margin-bottom: 2%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 23.5%;
  }
  .masonry .gutter-sizer {
    width: 2%;
  }
}
@media (min-width: 992px) {
  .masonry {
    margin: 1.875% 0;
  }
  .masonry .item {
    width: 18.5%;
    margin-bottom: 1.875%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 18.5%;
  }
  .masonry .gutter-sizer {
    width: 1.875%;
  }
}
@media (min-width: 1200px) {
  .masonry {
    margin: 1.8% 0;
  }
  .masonry .item {
    width: 15.16667%;
    margin-bottom: 1.8%;
  }
  .masonry .item img {
    width: 100%;
  }
  .masonry .grid-sizer {
    width: 15.16667%;
  }
  .masonry .gutter-sizer {
    width: 1.8%;
  }
}
body {
  font-size: 16px;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

.text-container {
  max-width: 33em;
  margin: 0 auto;
}
.text-container h1, .text-container .h1,
.text-container h2, .text-container .h2,
.text-container h3, .text-container .h3,
.text-container h4, .text-container .h4,
.text-container h5, .text-container .h5,
.text-container h6, .text-container .h6 {
  margin-top: 1.25em;
  margin-bottom: .5em;
}
.text-container h1 {
  font-size: 2.250em;
}
.text-container h2 {
  font-size: 1.875em;
}
.text-container h3 {
  font-size: 1.5em;
}
.text-container h4 {
  font-size: 1.125em;
}
.text-container p, .text-container li {
  margin-bottom: .75em;
}
.text-container .lead {
  font-size: 1.325em;
}

body {
  padding-top: 50px;
  font-family: 'Cabin', sans-serif;
  background-image: url("../images/triangles.png");
  color: #ecf0f1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/triangles@2X.png");
    background-size: 33px 36px;
  }
}

header {
  padding: 3em 0;
}
header h1 {
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header h2 {
  color: #ff770b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}

.acs-logo {
  width: 70px;
  height: auto;
  position: relative;
  top: -.2em;
}

.social a {
  font-size: 1.125em;
  color: #2980b9;
  display: block;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.social a:hover {
  color: #ff770b;
  text-decoration: none;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.social .tooltip-inner {
  background-color: #2980b9;
  border-radius: 0;
}
.social .tooltip.top .tooltip-arrow {
  border-top-color: #2980b9;
}

.avatar {
  width: 100%;
  max-width: 256px;
  height: auto;
  display: block;
  margin: 4em auto;
  box-shadow: 0 0 0 5px #1b1b1b, 0 0 0 6px #3498db;
}

.navbar-toggle {
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.share-bar {
  padding: 1em 0;
  text-align: center;
}
.share-bar .btn {
  color: #fff;
  background-color: #2980b9;
  border-color: transparent;
}
.share-bar .btn:hover {
  color: #fff;
  background-color: #ff770b;
  border-color: transparent;
}

section.blank {
  background-color: white;
  color: #222;
  padding: 0 0 2em;
  margin: 2em 0;
}
