@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-d8ym7y");
  src: url("../fonts/icomoon.eot?#iefix-d8ym7y") format("embedded-opentype"), url("../fonts/icomoon.woff?-d8ym7y") format("woff"), url("../fonts/icomoon.ttf?-d8ym7y") format("truetype"), url("fonts/icomoon.svg?-d8ym7y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../sass/_icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, ../sass/_icomoon.scss */
.icon-linkedin:before {
  content: "\e602"; }

/* line 29, ../sass/_icomoon.scss */
.icon-behance:before {
  content: "\e601"; }

/* line 32, ../sass/_icomoon.scss */
.icon-codepen:before {
  content: "\e600"; }

/* line 35, ../sass/_icomoon.scss */
.icon-googleplus:before {
  content: "\e603"; }

/* line 38, ../sass/_icomoon.scss */
.icon-twitter:before {
  content: "\e604"; }

/* line 41, ../sass/_icomoon.scss */
.icon-github:before {
  content: "\e605"; }

/* line 7, ../sass/main.scss */
body {
  font-family: 'Cabin', sans-serif;
  background-image: url("../images/triangles.png");
  color: #ecf0f1; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 9, ../sass/_mixins.scss */
    body {
      background-image: url("../images/triangles@2X.png");
      -webkit-background-size: 33px 36px;
      -moz-background-size: 33px 36px;
      -o-background-size: 33px 36px;
      background-size: 33px 36px; } }

/* line 14, ../sass/main.scss */
header {
  padding: 3em 0; }

/* line 18, ../sass/main.scss */
h1 {
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 23, ../sass/main.scss */
h2 {
  color: #ff770b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em; }

/* a {
	@include link-colors($red, yellow, white, blue, green);
} */
/* line 34, ../sass/main.scss */
.acs-logo {
  width: 75px;
  height: auto;
  margin-top: -5px; }

/* line 41, ../sass/main.scss */
.social a {
  color: #2980b9;
  -moz-transition: 0.2s, ease-in-out;
  -o-transition: 0.2s, ease-in-out;
  -webkit-transition: 0.2s, ease-in-out;
  transition: 0.2s, ease-in-out;
  display: block; }
  /* line 46, ../sass/main.scss */
  .social a:hover {
    color: #ff770b;
    text-decoration: none;
    -moz-transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    transform: scale(1.75); }
/* line 55, ../sass/main.scss */
.social .tooltip-inner {
  background-color: #2980b9;
  border-radius: 0; }
/* line 60, ../sass/main.scss */
.social .tooltip.top .tooltip-arrow {
  border-top-color: #2980b9; }

/* line 67, ../sass/main.scss */
.avatar {
  width: 100%;
  max-width: 256px;
  height: auto;
  display: block;
  margin: 4em auto;
  box-shadow: 0 0 0 5px #1b1b1b, 0 0 0 6px #3498db; }

/* line 78, ../sass/main.scss */
.navbar-toggle {
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase; }
