/* line 6, ../sass/main.scss */
body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/triangles.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 9, ../sass/_mixins.scss */
    body {
      background-image: url("../images/triangles@2X.png");
      -webkit-background-size: 33px 36px;
      -moz-background-size: 33px 36px;
      -o-background-size: 33px 36px;
      background-size: 33px 36px; } }

/* line 12, ../sass/main.scss */
header {
  padding: 2em 0; }

/* line 16, ../sass/main.scss */
a {
  color: red; }
  /* line 18, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: blue; }
  /* line 21, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: green; }
  /* line 24, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: yellow; }
  /* line 27, ../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: white; }

/* line 20, ../sass/main.scss */
.avatar {
  width: 100%;
  max-width: 256px;
  height: auto;
  display: block;
  margin: 0 auto; }

/* line 28, ../sass/main.scss */
.navbar-toggle {
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-d2idda");
  src: url("../fonts/icomoon.eot?#iefix-d2idda") format("embedded-opentype"), url("../fonts/icomoon.woff?-d2idda") format("woff"), url("../fonts/icomoon.ttf?-d2idda") format("truetype"), url("../fonts/icomoon.svg?-d2idda#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 46, ../sass/main.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 60, ../sass/main.scss */
.icon-behance:before {
  content: "\e601"; }

/* line 63, ../sass/main.scss */
.icon-codepen:before {
  content: "\e600"; }
