.masonry {
	.item { 
		width: 24%; 
		margin-bottom: 10px;
		background: #999; 

		img {
			width: 100%;
		}
	}

	.grid-sizer { 
		width: 24%; 
	}

	.gutter-sizer { 
		width: 1.33%; 
	}
}
/* 
(container width - (columns * column width)) / number of gutters = gutter width

(100% - (3 * 32.33%)) / 2) = 1.5% 
(100% - (4 * 24%)) / 3) = 1.33333333333333% 
(100% - (5 * 19%)) / 4) = 1.25% 


*/