$columns: 4;

$gutter-size: 1;

$column-width: 100% / $columns - $gutter-size;

$gutter: (100 - ($columns * $column-width)) / ($columns - 1);


.masonry {
	.item { 
		width: $column-width; 
		margin-bottom: $gutter;

		img {
			width: 100%;
		}
	}

	.grid-sizer { 
		width: $column-width;
	}

	.gutter-sizer { 
		width: $gutter;
	}
}