@charset "UTF-8";
@import "mixins";
@import "media-queries"; 
@import "variables";
@import "icomoon";
@import "masonry";

body { 
	padding-top: 50px; 
	font-family: 'Cabin', sans-serif;
	@include background-image-retina(triangles, png, 33px, 36px);
	color: $offwhite;

	@include mq(xs) {
		font-size: 12px;
	}

	@include mq(sm) {
		font-size: 12px;
	}

	@include mq(md) {
		font-size: 14px;
	}

	@include mq(lg) {
		font-size: 16px;
	}
}

header {
	padding: 3em 0;
}

h1 {
	color: $lightblue;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h2 {
	color: $orange;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
}

.acs-logo {
	width: 75px;
	height: auto;
	/* display: block;
	margin: 0 auto; */
}

.social {
	a {
		color: $darkblue;
		display: block;
		transition: all .2s ease-in-out;

		&:hover {
			color: $orange;
			text-decoration: none;
			transform: scale(1.5);
		}
	}
	.tooltip-inner {
		background-color: $darkblue;
		border-radius: 0;
	}
	
	.tooltip.top .tooltip-arrow {
		border-top-color: $darkblue;
	}
}

.avatar {
	width: 100%;
	max-width: 256px;
	height: auto;
	display: block;
	margin: 4em auto;
	box-shadow:
        0 0 0 5px #1b1b1b,
        0 0 0 6px $lightblue;
}

.navbar-toggle {
	color: white;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
}



