@charset "UTF-8";
@import "compass";
@import "mixins"; 
@import "variables";
@import "icomoon";

body { 
	// padding-top: 50px; 
	font-family: 'Cabin', sans-serif;
	@include background-image-retina(triangles, png, 33px, 36px);
	color: $offwhite;
}

header {
	padding: 3em 0;
}

h1 {
	color: $lightblue;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h2 {
	color: $orange;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
}

/* a {
	@include link-colors($red, yellow, white, blue, green);
} */

.social {
	a {
		color: $darkblue;
		@include transition(.2s, ease-in-out);
		display: block;

		&:hover {
			color: $orange;
			text-decoration: none;
			// transform: scale(1.1) translate(0,-1.5em);
			
			@include transform(scale(1.75));

		}
	}
	.tooltip-inner {
		background-color: $darkblue;
		border-radius: 0;
	}
	
	.tooltip.top .tooltip-arrow {
		border-top-color: $darkblue;
	}

	
}

.avatar {
	width: 100%;
	max-width: 256px;
	height: auto;
	display: block;
	margin: 4em auto;
	box-shadow:
        0 0 0 5px #1b1b1b,
        0 0 0 6px $lightblue;
}

.navbar-toggle {
	color: white;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
}



